@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLT-55Rm.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLT-55Rm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2"),
    url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Light.woff2") format("woff2"),
    url("../fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Oblique.woff2") format("woff2"),
    url("../fonts/Helvetica-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Helvetica";
  background-color: #ffffff;
}

.container {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-bar {
  position: relative;
  background: #3d4e5a;
}

.top-bar .container {
  display: flex;
  justify-content: space-between;
  padding: 2px 15px;
}

.top-bar .left-col,
.top-bar .right-col,
.top-bar .right-col a {
  display: flex;
  align-items: center;
}

.top-bar .left-col .CTA {
  background-color: #ff7500;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 11px;
  font-weight: 700;
  padding: 8px 13px 8px 9px;
}

.top-bar .left-col a:nth-child(2) {
  color: #ffffff;
  font-size: 13px;
  line-height: 11px;
  margin-right: 15px;
  margin-left: 10px;
}

.top-bar .left-col .lang {
  display: table;
  color: #fff;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 1px;
  border-right: 1px solid white;
  padding-right: 11px;
}

.top-bar .left-col .lang .first-letter {
  font-size: 12px;
}
.top-bar .left-col .lang .second-letter {
  font-size: 14px;
}
.top-bar .left-col .lang .third-letter {
  font-size: 15px;
}

.top-bar .left-col .time {
  color: #fff;
  font-size: 12.21px;
  margin-left: 10px;
}

.top-bar .right-col a {
  padding: 0 13px;
  position: relative;
  border-left: 1px solid #7b8b96;
}

.top-bar .right-col a span {
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #fff;
  margin: 0 6px;
}

.top-bar .right-col a .top-arrow {
  position: absolute;
  bottom: -14px;
  width: 62px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.header {
  background-color: #f4f4f4;
}

.header .div-block {
  min-height: 25px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(79, 79, 79, 0.3);
}

.header .brand-bar {
  position: relative;
  background-color: #f4f4f4;
  padding-block-start: 14px;
  padding-block-end: 12px;
  z-index: 1000;
}

.header .brand-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .brand-bar .toggleBtn {
  display: none;
}

.header .brand-bar .company-logo {
  margin-left: 2px;
}

.header .brand-bar .partners-logo {
  margin-top: -13px;
}

.header .brand-bar .partners-logo a:nth-child(1) {
  padding: 0 18px;
}

.nav-bar {
  background-color: #ff7500;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
}

.nav-bar .nav-list {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-bar .nav-list .list-item {
  list-style-type: none;
  position: relative;
  border-inline: 1px solid #ffb445;
}

.nav-bar .nav-list .list-item a {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.567;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 14px;
  text-shadow: 0px 1px 0px rgba(197, 80, 66, 0.75);
}

.nav-bar .search-bar {
  display: flex;
  align-items: center;
  padding-right: 19px;
  max-width: 245px;
  border-inline-end: 1px solid #ffb445;
}

.nav-bar .search-bar input {
  border: none;
  outline: none;
  padding: 7px 14px;
  border-radius: 50px;
  width: 100%;
}

.nav-bar .search-bar input::placeholder {
  font-size: 14px;
  font-weight: oblique;
  font-style: italic;
  color: #9d9d9d;
}

.nav-bar .search-bar button {
  margin-left: 14px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-bar .nav-list .list-item:hover {
  background-color: #ff9133;
}

.nav-bar .nav-list .list-item .submenu {
  position: absolute;
  list-style-type: none;
  background-color: #3d4e5a;
  min-width: 300px;
  padding: 12px 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  z-index: 2;
}

.nav-bar .nav-list .list-item .submenu li a {
  font-size: 11px;
  font-family: "Helvetica", sans-serif;
  color: #ffffff;
  font-weight: bold;
  line-height: 2.333;
  text-shadow: none;
  border: none;
  padding: 4px 15px 4px 20px;
}

.nav-bar .nav-list .list-item .submenu li:hover a {
  color: #ff9133;
}

.nav-bar .nav-list .list-item:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.hero-banner {
  background-color: #333333;
  background: url(../img/banner.jpg) no-repeat center center;
  background-size: cover;
  min-height: 453px;
  padding: 126px 0;
}

.hero-banner .container {
  display: flex;
  align-items: center;
  padding-left: 103px;
}

.hero-content {
  font-family: "HelveticaNeue", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.hero-content .first-txt {
  font-size: 22px;
  letter-spacing: -1.4px;
  color: #fd7605;
}

.hero-content .first-txt span {
  color: #3d4e5a;
}

.hero-content .second-txt {
  color: #3d4e5a;
  font-size: 34px;
  line-height: 30px;
}

.hero-content .second-txt span {
  color: #fd7605;
  letter-spacing: -1px;
}

.hero-content .third-txt {
  font-size: 34px;
  color: #fd7605;
  margin-left: 13px;
  letter-spacing: -1px;
}

.hero-content .third-txt span {
  position: relative;
  top: -7px;
  color: #3d4e5a;
  font-weight: 400;
  font-size: 22px;
}

.overflow-menus {
  position: relative;
  margin-block-start: -125px;
  padding-block-end: 15px;
  z-index: 1;
}

.overflow-menus .container {
  display: flex;
  gap: 15px;
}

.overflow-menus .menus {
  width: 33.33%;
  position: relative;
  background: #ff7500;
  padding-block-start: 30px;
  padding-block-end: 8px;
  padding-inline: 10px;
  border-block-end: 4px solid #f15a22;
  box-shadow: 0px 0px 18px 0px rgba(182, 95, 12, 0.34);
  overflow: hidden;
  cursor: pointer;
}

.overflow-menus .menus:hover .menu-content {
  transform: translateY(0);
}

.overflow-menus .menus .menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overflow-menus .menus .menu-box img {
  margin-block-end: 10px;
}

.overflow-menus .menus .menu-box h3 {
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.overflow-menus .menus .menu-box h3 span {
  font-weight: 700;
  font-size: 24px;
}

.overflow-menus .menus .menu-content {
  position: absolute;
  background: #5e5d5d;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-120%);
  transition: 0.3s all;
}

.overflow-menus .menus .menu-content img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.overflow-menus .menus .menu-content .content-info {
  z-index: 2;
  color: #fff;
}

.overflow-menus .menus .menu-content .content-info {
  text-align: center;
}

.overflow-menus .menus .menu-content .content-info p {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 20px;
  color: rgb(244, 244, 244);
  line-height: 0.879;
  text-transform: capitalize;
}

.overflow-menus .menus .menu-content .content-info p {
  margin-bottom: 16px;
}

.overflow-menus .menus .menu-content .content-info a {
  padding: 3px 12px;
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.43;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 117, 0);
  transition: 0.3s all;
}

.overflow-menus .menus .menu-content .content-info a:hover {
  background-color: rgb(167, 78, 0);
}

.Services {
  background: #ffffff;
  position: relative;
}

.Services .container {
  display: flex;
}

.Services .container .primary-aside {
  min-width: 258px;
  width: 258px;
  margin-top: -10px;
}

.primary-content {
  flex: 1;
  width: 70%;
  padding-inline: 15px;
  display: flex;
  align-items: baseline;
}

.primary-content .card {
  width: 33.33%;
  font-family: "HelveticaNeue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-content .card:nth-child(even) {
  border-inline: 2px solid transparent;
  border-image: url(../img/services-border.png) 12 25;
}

.primary-content .card h4 {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 122, 25);
  text-transform: uppercase;
  line-height: 1.172;
  text-align: center;
  margin-block-end: 21px;
}

.primary-content .card h4::after {
  position: absolute;
  content: url(../img/arrow.svg);
  inset-inline: 0;
  inset-block-end: -12px;
  margin-inline: auto;
}

.primary-content .card .card-img {
  background: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-block-end: 15px;
  position: relative;
  min-height: 160px;
  min-width: 150px;
}

.primary-content .card .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.primary-content .card .card-img:after {
  position: absolute;
  content: url(../img/logo_icon.svg);
  inset-block: 0;
  right: 0;
}

.primary-content .card .card-img:before {
  position: absolute;
  content: "";
  inset: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.46);
}

.primary-content .card h4 img {
  position: relative;
  top: -15px;
}

.primary-content .card p {
  font-size: 14px;
  line-height: 1.399;
  font-weight: 400;
  max-width: 170px;
  letter-spacing: 0;
  text-align: center;
}

.primary-content .card a {
  font-size: 14px;
  color: rgb(255, 122, 25);
  line-height: 1.399;
  font-weight: 400;
  transition: 0.3s all;
}

.primary-content .card a:hover {
  text-decoration: underline;
}

.aside-box {
  border: 1px solid #d7d5d5;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(149, 149, 149, 0.3);
}

.aside-box .CTA-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-box .CTA-btns button {
  flex: 1;
  border: none;
  outline: none;
  font-size: 11px;
  padding-block: 9px;
  background: #d9d7d7;
  color: #686868;
  font-weight: 700;
  line-height: 1.574;
  transition: 0.3s all;
  cursor: pointer;
}

.aside-box .CTA-btns button:first-child {
  background: #fd7605;
  color: #fff;
}

.aside-box .CTA-btns button:hover {
  opacity: 0.8;
}

.aside-box .prim-txt {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  background-color: #636363;
  color: #fff;
  padding-block: 2px;
}

.aside-box .aside-form {
  display: flex;
  flex-direction: column;
  padding: 10px 24px 10px 15px;
}

.aside-box .aside-form label {
  font-size: 14px;
  color: #686868;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.aside-box .aside-form select {
  padding: 5px;
  border: 1px solid rgb(215, 213, 213);
  margin-bottom: 10px;
  appearance: none;
  background-image: url(../img/arrow.svg);
  background-position: 96% center;
  background-repeat: no-repeat;
  outline: none;
}

.aside-box .aside-form select:nth-child(3),
.aside-box .aside-form select:nth-child(4) {
  margin-bottom: 5px;
}

.aside-box .aside-form button {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: rgb(248, 126, 39);
  border: none;
  outline: none;
  padding: 6px;
  cursor: pointer;
  transition: 0.3s all;
}

.aside-box .aside-form button:hover {
  background-color: rgb(216, 88, 19);
}

.main-content {
  background-color: #ebebeb;
  background-image: url(../img/pattern.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content .container {
  display: flex;
  padding-block: 15px;
}

.main-content .secondary-content {
  flex: 1;
  width: 70%;
  padding-right: 10px;
}

.main-content .secondary-aside {
  min-width: 258px;
  width: 258px;
}

.main-content .secondary-content .about {
  display: flex;
  position: relative;
}

.about .about-slider {
  position: relative;
  width: 50%;
}

.about .about-slider .slider-img img {
  width: 100%;
  object-fit: cover;
}

.indicators {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
}

.indicators .next-btn,
.indicators .prev-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 14px;
}

.indicators .prev-btn {
  left: 5px;
}

.indicators .next-btn {
  right: 5px;
}

.indicator img {
  cursor: pointer;
  z-index: 999;
}

/* for slick slider */
.about-slider .slick-dots {
  top: 0;
  bottom: 0;
  height: 0;
  z-index: 2;
}

.banner-slider .slick-dots {
  bottom: 10px;
  z-index: 2;
}

.banner-slider.slick-dotted.slick-slider,
.about-slider .slider-Images.slick-dotted.slick-slider {
  margin-bottom: 13px;
}

.about-slider .slick-dots li {
  width: 10px;
  height: 10px;
}

.banner-slider .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.about-slider .slick-dots li button {
  width: 5px;
  height: 5px;
  background: #eae3e3;
}

.banner-slider .slick-dots li button {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #eae3e3;
}

.about-slider .slick-dots li button:before,
.banner-slider .slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
}

.about-slider .slick-dots li.slick-active button:before,
.banner-slider .slick-dots li.slick-active button:before {
  background: #fff;
}

.banner-slider .slick-dots li.slick-active button:before {
  border-radius: 50%;
}

/* ******** */

.about .about-content {
  position: relative;
  padding: 17px 8px;
}

.about .about-content h3 {
  font-size: 36px;
  font-family: "Titillium Web", sans-serif;
  color: rgb(253, 118, 5);
  font-weight: 600;
  line-height: 1.831;
  text-transform: capitalize;
  margin-block-end: 8px;
}

.about .about-content h4 {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  color: rgb(253, 118, 5);
  font-weight: 700;
  line-height: 0.94;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about .about-content p {
  font-size: 13px;
  font-family: "Helvetica", sans-serif;
  color: rgb(69, 69, 69);
  line-height: 1.166;
  margin-bottom: 15px;
}

.about .about-content .CTA-btn {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  background-color: rgb(248, 126, 39);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.323;
  text-shadow: 0px 1px 0px rgba(197, 80, 66, 0.75);
  padding: 5px 26px;
  transition: 0.3s all;
}

.about .about-content .CTA-btn:hover {
  background-color: rgb(235, 98, 0);
}

.main-content .first-banner {
  background-color: #333333;
  margin-bottom: 15px;
}

.banner-slider,
.main-content .first-banner,
.main-content .second-banner {
  width: 100%;
}

.banner-slider img,
.main-content .first-banner img,
.main-content .second-banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content .second-banner {
  background-color: #333333;
}

.aside-Img img {
  width: 100%;
  object-fit: cover;
}

.aside-newsletter {
  border: 1px solid rgb(215, 213, 213);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(149, 149, 149, 0.3);
  padding: 16px 13px 10px;
  margin-block-end: 6px;
}

.aside-newsletter h4 {
  font-size: 24px;
  font-family: "Titillium Web", sans-serif;
  color: rgb(255, 117, 0);
  font-weight: 700;
  line-height: 1.922;
}

.aside-newsletter .newsletter-form {
  display: flex;
  flex-direction: column;
}

.aside-newsletter .newsletter-form input {
  padding: 5px 10px;
  border: 1px solid rgb(215, 213, 213);
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.aside-newsletter .newsletter-form input[type="email"]:valid {
  border-color: green;
}
.aside-newsletter .newsletter-form input[type="email"]:invalid {
  border-color: red;
}

.aside-newsletter .newsletter-form input::placeholder {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  color: rgb(104, 104, 104);
  line-height: 2.244;
}

.aside-newsletter .newsletter-form button {
  font-family: "Helvetica", sans-serif;
  background-color: rgb(248, 126, 39);
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.323;
  text-shadow: 0px 1px 0px rgba(197, 80, 66, 0.75);
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
}

.aside-newsletter .newsletter-form button:hover {
  background-color: rgb(235, 98, 0);
}

.aside-events {
  border: 1px solid rgb(215, 213, 213);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(149, 149, 149, 0.3);
}

.aside-events .CTA-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-events .CTA-btns button {
  flex: 1;
  border: none;
  outline: none;
  font-size: 11px;
  padding-block: 6px;
  background: #d9d7d7;
  color: #686868;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.574;
  text-transform: uppercase;
  transition: 0.3s all;
  cursor: pointer;
}

.aside-events .CTA-btns button:first-child {
  background: #fd7605;
  color: #fff;
}

.aside-events .CTA-btns button:hover {
  opacity: 0.8;
}

.aside-events .event-form {
  display: grid;
  place-items: center;
  padding-block: 22px;
}

.aside-events .event-form input[type="date"] {
  position: relative;
  width: 80%;
  color: #686868;
  padding-inline-start: 6px;
}

.aside-events
  .event-form
  input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type="date"]:before {
  display: block;
  content: url(../img/calendar.jpg);
  position: absolute;
  right: 6px;
}

.contact-section {
  position: relative;
  overflow: hidden;
  background-color: #3d4e5a;
}

.contact-section .side-img {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 15px;
}

.contact-section .container {
  display: flex;
}

.contact-section .contact-features {
  flex: 1;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding-block: 10px;
  align-content: flex-start;
}

.contact-section .contact-content {
  position: relative;
  min-width: 306px;
  width: 306px;
  padding-block-start: 20px;
  padding-block-end: 100px;
  margin-inline-start: 6px;
  border-inline-start: 1px solid white;
}

.contact-section .contact-features .feature-box {
  position: relative;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding: 10px;
}

.contact-section .contact-features .feature-box:nth-child(even) {
  background-color: rgb(61, 78, 90);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.34);
}

.contact-section .contact-features .feature-box img {
  width: 84px;
  margin-inline: auto;
  margin-bottom: 16px;
}
.contact-section .contact-features .feature-box h5 {
  font-size: 18px;
  font-family: "HelveticaNeue", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.226;
  font-weight: 400;
}

.contact-section .contact-features .feature-box h5 span {
  font-weight: 700;
}

.prim-clr {
  color: #f87e27;
}

.contact-content .item-box {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-block: 15px 10px;
  padding-inline-start: 15px;
}

.contact-content .item-box .item-img {
  min-width: 53px;
}

.contact-content .item-box .item-info {
  display: flex;
  flex-direction: column;
}

.contact-content .item-box .item-info .bold-txt {
  font-size: 19px;
  font-family: "Helvetica", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 0.936;
  margin-bottom: 7px;
}

.contact-content .item-box .item-info .lit-txt {
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 0.936;
  margin-bottom: 6px;
}

.contact-content .item-box .item-info .bold-numb {
  position: relative;
  font-size: 28px;
  font-family: "Helvetica", sans-serif;
  color: rgb(248, 126, 39);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.647;
  margin-bottom: 12px;
}

.contact-content .item-box .item-info .email-txt {
  position: relative;
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 1.442;
  display: inline-flex;
}

.contact-content .item-box .item-info .email-txt img {
  margin-right: 5px;
}

.sponsors {
  padding-block: 18px;
}

.sponsors .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #fd7605;
  padding-block: 36px;
  overflow: hidden;
}

.footer .container {
  display: flex;
}

.footer .footer-links {
  padding-inline-end: 6px;
}

.footer .footer-links .primary-links,
.footer .footer-links .secondary-links {
  display: flex;
  list-style-type: none;
}

.footer .footer-links .primary-links {
  margin-bottom: 12px;
}

.footer .footer-links .primary-links li a,
.footer .footer-links .secondary-links li,
.footer .footer-links .secondary-links li a {
  font-size: 11px;
  font-family: "HelveticaNeue", sans-serif;
  color: rgb(244, 244, 244);
  line-height: 1.172;
  padding-inline: 10px;
  transition: 0.3s all;
}

.footer .footer-links .primary-links li:hover,
.footer .footer-links .secondary-links li a:hover {
  text-decoration: underline;
}

/* Tablet View */
@media (max-width: 1023px) {
  .nav-bar .nav-list .list-item a {
    font-size: 12px;
    padding-inline: 6px;
  }

  .nav-bar .search-bar {
    max-width: 206px;
    padding-right: 8px;
  }

  .nav-bar .search-bar button {
    margin-left: 6px;
  }

  .Services .container .primary-aside,
  .main-content .secondary-aside {
    min-width: 232px;
    width: 232px;
  }

  .primary-content .card .card-img {
    min-height: 140px;
    min-width: 140px;
  }

  .primary-content .card .card-img:before {
    height: 143px;
    width: 143px;
  }

  .aside-box .aside-form {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
  }

  .primary-content .card h4 {
    font-size: 18px;
  }

  .contact-section .side-img {
    display: none;
  }

  .contact-section .contact-features .feature-box h5 {
    font-size: 16px;
  }

  .contact-content .item-box .item-info .bold-numb {
    font-size: 26px;
  }
}

/* mobile layout */
@media (max-width: 767px) {
  .header .brand-bar .partners-logo,
  .top-bar,
  .header .div-block {
    display: none;
  }

  .header .brand-bar .toggleBtn {
    display: block;
  }

  .header .brand-bar .toggleBtn img{
    width: 22px;
  }

  .company-logo img {
    width: 128px;
  }

  .nav-bar {
    position: absolute;
    width: 100%;
    background-color: #ff7500;
    height: 100vh;
    z-index: 999;
    padding-block: 10px;
    transform: translateY(-150%);
  }

  .nav-bar.active{
    transform: translateY(0);
    transition: 0.3s ease-in-out;
  } 

  .nav-bar .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .nav-bar .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar .nav-list .list-item {
    border: none;
  }

  .nav-bar .nav-list .list-item a {
    font-size: 14px;
  }

  .nav-bar .search-bar {
    border: none;
  }

  .nav-bar .search-bar,
  .primary-content,
  .overflow-menus .menus,
  .primary-content,
  .primary-content .card,
  .main-content .secondary-content .card,
  .about .about-slider,
  .contact-section .contact-features {
    max-width: 100%;
    width: 100%;
  }

  .Services .container .primary-aside,
  .main-content .secondary-aside,
  .contact-section .contact-content {
    min-width: 100%;
    width: 100%;
    margin-top: 0;
  }

  .top-bar .container,
  .overflow-menus .container,
  .Services .container,
  .primary-content,
  .main-content .container,
  .main-content .secondary-content .about,
  .contact-section .container,
  .footer .container {
    flex-direction: column;
  }

  .hero-banner .container {
    padding-left: 10px;
  }

  .primary-content {
    padding-inline: 0;
  }

  .main-content .secondary-content {
    padding-right: 0;
    width: 100%;
  }

  .primary-content .card:nth-child(even) {
    margin-block: 23px;
    border-inline: none;
  }

  .contact-section .contact-features .feature-box {
    width: 50%;
  }

  .contact-section .contact-features .feature-box:nth-child(even) {
    box-shadow: none;
    background-color: transparent;
  }

  .contact-section .contact-features .feature-box:nth-child(2),
  .contact-section .contact-features .feature-box:nth-child(3),
  .contact-section .contact-features .feature-box:nth-child(6) {
    box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 34%);
    background-color: rgb(61, 78, 90);
  }

  .contact-section .contact-content{
    border: none;
    margin: 0;
  }

  .contact-content .item-box{
    display: block;
    padding-inline-start: 0;
  }

  .contact-content .item-box .item-img{
    min-height: 53px;
    min-width: 100%;
  }
}
