@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLT-55Rm.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLT-55Rm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2"),
    url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Light.woff2") format("woff2"),
    url("../fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Oblique.woff2") format("woff2"),
    url("../fonts/Helvetica-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Helvetica";
  background-color: #ffffff;
}

.container {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-bar {
  background: #3d4e5a;
}

.top-bar .container {
  display: flex;
  justify-content: space-between;
  padding: 2px 15px;
}

.top-bar .left-col,
.top-bar .right-col,
.top-bar .right-col a {
  display: flex;
  align-items: center;
}

.top-bar .left-col .CTA {
  background-color: #ff7500;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 11px;
  font-weight: 700;
  padding: 8px 13px 8px 9px;
}

.top-bar .left-col a:nth-child(2) {
  color: #ffffff;
  font-size: 13px;
  line-height: 11px;
  margin-right: 15px;
  margin-left: 10px;
}

.top-bar .left-col .lang {
  display: table;
  color: #fff;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 1px;
  border-right: 1px solid white;
  padding-right: 11px;
}

.top-bar .left-col .lang .first-letter {
  font-size: 12px;
}
.top-bar .left-col .lang .second-letter {
  font-size: 14px;
}
.top-bar .left-col .lang .third-letter {
  font-size: 15px;
}

.top-bar .left-col .time {
  color: #fff;
  font-size: 12.21px;
  margin-left: 10px;
}

.top-bar .right-col a {
  padding: 0 13px;
  position: relative;
  border-left: 1px solid #7b8b96;
}

.top-bar .right-col a span {
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #fff;
  margin: 0 6px;
}

.top-bar .right-col a .top-arrow {
  position: absolute;
  bottom: -14px;
  width: 62px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.header {
  background-color: #f4f4f4;
}

.header .div-block {
  min-height: 25px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(79, 79, 79, 0.3);
}

.header .brand-bar {
  padding-block-start: 14px;
  padding-block-end: 12px;
}

.header .brand-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .brand-bar .company-logo {
  margin-left: 2px;
}

.header .brand-bar .partners-logo {
  margin-top: -13px;
}

.header .brand-bar .partners-logo a:nth-child(1) {
  padding: 0 18px;
}

.nav-bar {
  background-color: #ff7500;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
}

.nav-bar .nav-list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar .nav-list .list-item {
  list-style-type: none;
  position: relative;
  border-inline: 1px solid #ffb445;
}

.nav-bar .nav-list .list-item a {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 1.567;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 14px;
  text-shadow: 0px 1px 0px rgba(197, 80, 66, 0.75);
}

.nav-bar .search-bar {
  display: flex;
  align-items: center;
  padding-right: 19px;
  max-width: 245px;
  border-inline-end: 1px solid #ffb445;
}

.nav-bar .search-bar input {
  border: none;
  outline: none;
  padding: 7px 14px;
  border-radius: 50px;
  width: 100%;
}

.nav-bar .search-bar input::placeholder {
  font-size: 14px;
  font-weight: oblique;
  font-style: italic;
  color: #9d9d9d;
}

.nav-bar .search-bar button {
  margin-left: 14px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-bar .nav-list .list-item:hover {
  background-color: #ff9133;
}

.nav-bar .nav-list .list-item .submenu {
  position: absolute;
  list-style-type: none;
  background-color: #3d4e5a;
  min-width: 300px;
  padding: 12px 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  z-index: 2;
}

.nav-bar .nav-list .list-item .submenu li a {
  font-size: 11px;
  font-family: "Helvetica";
  color: #ffffff;
  font-weight: bold;
  line-height: 2.333;
  text-shadow: none;
  border: none;
  padding: 4px 15px 4px 20px;
}

.nav-bar .nav-list .list-item .submenu li:hover a {
  color: #ff9133;
}

.nav-bar .nav-list .list-item:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.hero-banner {
  background-color: #333333;
  background: url(../img/banner.jpg) no-repeat center center;
  background-size: cover;
  min-height: 453px;
  padding: 126px 0;
}

.hero-banner .container {
  display: flex;
  align-items: center;
  padding-left: 103px;
}

.hero-content {
  font-family: "HelveticaNeue";
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.hero-content .first-txt {
  font-size: 22px;
  letter-spacing: -1.4px;
  color: #fd7605;
}

.hero-content .first-txt span {
  color: #3d4e5a;
}

.hero-content .second-txt {
  color: #3d4e5a;
  font-size: 34px;
  line-height: 30px;
}

.hero-content .second-txt span {
  color: #fd7605;
  letter-spacing: -1px;
}

.hero-content .third-txt {
  font-size: 34px;
  color: #fd7605;
  margin-left: 13px;
  letter-spacing: -1px;
}

.hero-content .third-txt span {
  position: relative;
  top: -7px;
  color: #3d4e5a;
  font-weight: 400;
  font-size: 22px;
}

.overflow-menus {
  position: relative;
  margin-block-start: -125px;
  padding-block-end: 15px;
  z-index: 1;
}

.overflow-menus .container {
  display: flex;
  gap: 15px;
}

.overflow-menus .menus {
  width: 33.33%;
  position: relative;
  background: #ff7500;
  padding-block-start: 30px;
  padding-block-end: 8px;
  padding-inline: 10px;
  border-block-end: 4px solid #f15a22;
  box-shadow: 0px 0px 18px 0px rgba(182, 95, 12, 0.34);
  overflow: hidden;
  cursor: pointer;
}

.overflow-menus .menus:hover .menu-content {
  transform: translateY(0);
}

.overflow-menus .menus .menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overflow-menus .menus .menu-box img {
  margin-block-end: 10px;
}

.overflow-menus .menus .menu-box h3 {
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.overflow-menus .menus .menu-box h3 span {
  font-weight: 700;
  font-size: 24px;
}

.overflow-menus .menus .menu-content {
  position: absolute;
  background: #5e5d5d;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-120%);
  transition: 0.3s all;
}

.overflow-menus .menus .menu-content img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.overflow-menus .menus .menu-content .content-info {
  z-index: 2;
  color: #fff;
}

.overflow-menus .menus .menu-content .content-info {
  text-align: center;
}

.overflow-menus .menus .menu-content .content-info p {
  font-family: "HelveticaNeue";
  font-size: 20px;
  color: rgb(244, 244, 244);
  line-height: 0.879;
  text-transform: capitalize;
}

.overflow-menus .menus .menu-content .content-info p {
  margin-bottom: 16px;
}

.overflow-menus .menus .menu-content .content-info a {
  padding: 3px 12px;
  font-size: 12px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.43;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 117, 0);
  transition: 0.3s all;
}

.overflow-menus .menus .menu-content .content-info a:hover {
  background-color: rgb(167, 78, 0);
}

.Services {
  background: #ffffff;
  position: relative;
}

.Services .container {
  display: flex;
}

.Services .container .aside {
  min-width: 240px;
  width: 240px;
}

.services-cards {
  flex: 1;
  width: 70%;
  padding-inline: 15px;
  display: flex;
  align-items: baseline;
}

.services-cards .card {
  width: 33.33%;
  font-family: "HelveticaNeue";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-cards .card:nth-child(even) {
  border-inline: 2px solid transparent;
  border-image: url(../img/services-border.png) 12 25;
}

.services-cards .card h4 {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 122, 25);
  text-transform: uppercase;
  line-height: 1.172;
  text-align: center;
  margin-block-end: 21px;
}

.services-cards .card h4::after {
  position: absolute;
  content: url(../img/arrow.svg);
  inset-inline: 0;
  inset-block-end: -12px;
  margin-inline: auto;
}

.services-cards .card .card-img {
  background: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-block-end: 15px;
  position: relative;
  min-height: 160px;
  min-width: 150px;
}

.services-cards .card .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.services-cards .card .card-img:after {
  position: absolute;
  content: url(../img/logo_icon.svg);
  inset-block: 0;
  right: 0;
}

.services-cards .card .card-img:before {
  position: absolute;
  content: "";
  inset: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.46);
}

.services-cards .card h4 img {
  position: relative;
  top: -15px;
}

.services-cards .card p {
  font-size: 14px;
  line-height: 1.399;
  font-weight: 400;
  max-width: 170px;
  letter-spacing: 0;
  text-align: center;
}

.services-cards .card a {
  font-size: 14px;
  color: rgb(255, 122, 25);
  line-height: 1.399;
  font-weight: 400;
}

.aside-box {
  border: 1px solid #d7d5d5;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(149, 149, 149, 0.3);
}

.aside-box .aside-form {
  display: flex;
  flex-direction: column;
}

.aside-box .CTA-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-box .CTA-btns button {
  flex: 1;
  border: none;
  outline: none;
  font-size: 11px;
  padding-block: 14px;
  background: #d9d7d7;
  color: #686868;
  font-weight: 700;
  line-height: 1.574;
  transition: 0.3s all;
  cursor: pointer;
}

.aside-box .CTA-btns button:first-child {
  background: #fd7605;
  color: #fff;
}

.aside-box .CTA-btns button:hover {
  opacity: 0.8;
}

.aside-box .prim-txt {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  background-color: #636363;
  color: #fff;
  padding-block: 2px;
}

.aside-box .aside-form {
  padding: 10px 15px;
}

.aside-box .aside-form label {
  font-size: 14px;
  color: #686868;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.aside-box .aside-form select {
  padding: 5px;
  border: 1px solid rgb(215, 213, 213);
  margin-bottom: 10px;
}

.aside-box .aside-form button {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: rgb(248, 126, 39);
  border: none;
  outline: none;
  padding: 6px;
  cursor: pointer;
  transition: 0.3s all;
}

.aside-box .aside-form button:hover {
  background-color: rgb(216, 88, 19);
}
